body

{ margin: 0;
	padding: 0;
overflow: hidden;
}
section#main
{ background-color: #a400ae;
	width: 100wh;
	height: 100 vh;
}
.main_header {
	margin-top:25%; 
}
h1
{
	color: #fff;
	text-transform: uppercase;
}

section#icon
{
	background-color: #fff;
}
.img-1
{ width:100px;
	height:100px; 

}