@fant-face {
   font-family: 'openSansExtrabold';
   src: url('../fonts/openSansExtrabold.eot');
   src: url('../fonts/openSansExtrabold.eot') format('embedded - opentype'),
        url('../fonts/openSansExtrabold.woff2') format('woff2'),
        url('../format/openSansExtrabold.woff') format('woff'),
        url('../format/openSansExtrabold.ttf') format('truetype'),
        url('../format/openSansExtrabold.svg#openSansExtrabold') format('svg')
        };
     }
    p {
      font-family: 'openSansExtrabold', sans-serif;
    } 